{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
  <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Projects Completed</p>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="https://drive.google.com/uc?export=view&id=1-acUqktxhjX_J4saY0VUyYueasmf7-9V" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">FYMaterials<p>
            <p class='text-justify my-3'>FYMaterials is a comprehensive web application designed to cater to the academic needs of first-year students at GH Raisoni College of Engineering Pune. It serves as a centralized platform for accessing notes, previous year question papers, and journals, providing students with valuable resources to excel in their studies.</p>
            <ul class='mb-3'>
              <li>&#9989; Extensive Collection of Notes</li>
              <li>&#9989; Previous Year Question Papers</li>
              <li>&#9989; User-Friendly Interface
              </li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> Django</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-solid fa-server"></i> Reactjs</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-docker"></i> Docker</span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/GautamPatil1/FYMaterials'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://fymaterials.tech' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="https://drive.google.com/uc?export=view&id=103qAXqHdPFQKyi2zWU8JDo9fAVojMz1t" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Short Stories Web App</p>
            <p class='text-justify my-3'>ShortStories, a dynamic web application created using the power of ReactJS. Dive into a captivating world of short stories where imagination knows no bounds. With our user-friendly interface and seamless navigation, the joy of reading is at your fingertips.</p>
            <ul class='mb-3'>
              <li>&#9989; Modern UI Blog Design</li>
              <li>&#9989; Exquisite List of Novels</li>
              <li>&#9989; Responsive Design</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-js"></i> Nextjs</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-solid fa-database"></i>sqlite</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> python</span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/GautamPatil1/short-stories-webapp'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='hhttps://short-stories-webapp.vercel.app/' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="https://drive.google.com/uc?export=view&id=1dkYqlDpYL21PyFaFPQ09X-26u4f_hDey" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">LofiPomo</p>
            <p class='text-justify my-3'>LofiPomo is a web application that streams Lofi songs 24/7 and has a Pomodoro timer built in. With this app, you can enjoy a relaxing Lofi playlist while boosting your productivity with the Pomodoro technique.</p>
            <ul class='mb-3'>
              <li>&#9989; 24/7 Lofi radio streaming.</li>
              <li>&#9989; Built-in Pomodoro timer with customizable work and break periods</li>
              <li>&#9989; Relaxing cozy gifs</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
              <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-solid fa-radio"></i> Radio API</span>
              <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-pytho"></i> Python</span>
              <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-square-js"></i> Js</span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/GautamPatil1/LofiPomo'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://lofipomo.gautampatil11.repl.co/' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="https://drive.google.com/uc?export=view&id=1_7gjAmE_Zq9_BFIF02mumCmsMoW3l8k0" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Short Stories API</p>
            <p class='text-justify my-3'>The Short Stories API is built using Django, a powerful web framework for building web applications, and the Django REST Framework (DRF), an extension to Django for creating RESTful APIs. It provides developers with a simple and convenient way to access a collection of short stories in various genres.</p>
            <ul class='mb-3'>
              <li>&#9989; Modern UI</li>
              <li>&#9989; Responsive Endpoints</li>
              <li>&#9989; Vast Database</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-html5"></i> HTML</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> Django</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-square-js"></i> Js</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-markdown"></i> Markdown</span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/GautamPatil1/Short_Stories_API'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
              <a href='https://shortstoriesapi.gautampatil11.repl.co/' target = '_blank'><button class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'>Demo <i class="bi bi-box-arrow-up-right"></i></button></a>              
            </div>
          </div>
      </div>
      <div class='flex justify-center'>
        <a href='https://github.com/GautamPatil1?tab=repositories' target='_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-blue-600 transition delay-75 ease-in-out my-3'>Load more <i class="bi bi-arrow-clockwise font-extrabold"></i></button></a>
      </div>
</div>
      {% endblock %}
